<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <title>Gamigo Tracker</title>
    <!-- Custom styles for this template -->
    <!-- <link href="/static/css/logo-nav.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/logo-nav.css}"/>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img th:src="@{/image/logo.png}" src="http://placehold.it/300x60?text=Logo" width="130" height="58" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" th:href="@{/entries}">Overview
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Charts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">API</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



	<div class="container-fluid">
	<h1 class="mt-5">Continents</h1>
	<div class="row">
		 <div class="col">
		 	<div id="europeChart" ></div>
		 </div>
  		<div class="col">
  			<div id="americaChart" ></div>
  		</div>
  		
	</div>
	<div class="row">
		<div class="col">
  			<div id="asiaChart" ></div>
  		</div>
  		<div class="col"></div>
  
	</div>
	<div class="row">
		 <div class="col"></div>
  		<div class="col"></div>

	</div>
</div>




    <!-- Bootstrap core JavaScript -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </body>
<script type="text/javascript">

$(document).ready(function() {
	google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Download', 'Percent'],
          ['Success', 75],
          ['Failure', 25]
        ]);

        var europeOptions = {
          		title: 'Europe',
          		legend: 'none'
              		
        	  };
        var americaOptions = {
                title: 'America',
                legend: 'none'
              };
        var asiaOptions = {
                title: 'Asia',
                legend: 'none'
              };

        var europeChart = new google.visualization.PieChart(document.getElementById('europeChart'));
        var americaChart = new google.visualization.PieChart(document.getElementById('americaChart'));
        var asiaChart = new google.visualization.PieChart(document.getElementById('asiaChart'));

        europeChart.draw(data, europeOptions);
        americaChart.draw(data, americaOptions);
        asiaChart.draw(data, asiaOptions);
      }
	
} );

</script>
</html>
